</div>
</main>
<footer class="page-footer grey lighten-5">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="grey-text text-darken-2">{{ .Site.Params.Footer }}</h5>
				<p class="grey-text text-darken-1">{{ .Site.Params.Subfooter }}</p>
			</div>
        	{{ if or (.Site.Params.LinkedinID) (.Site.Params.TwitterID) }}
			<div class="col l4 offset-l2 s12">
				<h5 class="grey-text text-darken-2">Contacts</h5>
				<ul>
        			{{ if .Site.Params.LinkedinID }}
					<li><a class="grey-text text-darken-1" href="https://www.linkedin.com/in/{{ .Site.Params.LinkedinID }}">Linkedin</a></li>
					{{ end }}
        			{{ if .Site.Params.TwitterID }}
					<li><a class="grey-text text-darken-1" href="https://twitter.com/{{ .Site.Params.TwitterID }}">Twitter</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container black-text">
			© 2017  - Benjamin Deplechin
		</div>
	</div>
</footer>
</body>
</html>
